# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
venv/

# Logs and temp
logs/
*.log
temp/

# Secrets
.env

# Models and large binaries
models/*.bin
tools/ffmpeg/ffmpeg-8.0-essentials_build/
tools/ffmpeg/ffmpeg-release-essentials.zip

# OS files
.DS_Store
Thumbs.db